@model CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
<div class="col">
    <form asp-action="Create" asp-controller="Users" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Пароль</label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">Имя</label>
            <input type="text" asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label">Фамилия</label>
            <input type="text" asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NickName" class="control-label">Отображаемое имя</label>
            <input type="text" asp-for="NickName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CreateTime" class="control-label">Дата и время создания аккаунта</label>
            <input type="datetime" asp-for="CreateTime" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Avatar" class="control-label"></label>
            <input type="file" asp-for="Avatar" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
        </div>
    </form>
</div>