@model Article
    <form asp-controller="Articles" asp-action="Create">

        <span asp-validation-for="Headline"></span>
        <label asp-for="Headline"></label>
        <input type="text"
               asp-for="Headline"
               class="form-control"
               aria-label="Headline"
               aria-describedby="basic-addon1" />

        <span asp-validation-for="ShortDescription"></span>
        <label asp-for="ShortDescription"></label>
        <textarea asp-for="ShortDescription"
                  class="form-control"></textarea>

        <span asp-validation-for="Text"></span>
        <label asp-for="Text"></label>
        <textarea asp-for="Text"
                  class="form-control"></textarea>

        <span asp-validation-for="PictureName"></span>
        <label asp-for="PictureName"></label>
        <input type="text"
               asp-for="PictureName"
               class="form-control"
               aria-label="PictureLink"
               aria-describedby="basic-addon1" />
        <br>
        <label asp-for="Category"></label>:
        <select asp-for="CategoryId" asp-items="ViewBag.Categories"></select><br />

        <button type="submit" class="btn btn-primary">Опубликовать статью</button>
    </form>