@model IEnumerable<ChartViewModel<string>>
<div class="row">
    <nav class="nav">
        <a class="nav-link"
           asp-action="Index"
           asp-controller="Users">Пользователей</a>
        <a class="nav-link"
           asp-action="Index"
           asp-controller="Roles">Роли</a>
        <a class="nav-link"
           asp-action="Index"
           asp-controller="Articles">Статьи</a>
        <a class="nav-link"
           asp-action="Index"
           asp-controller="Categories">Категории</a>
    </nav>

</div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="~/js/Chart.js"></script>
<div class="row">
    <div class="col">
        @foreach (var chart in Model)
        {
            <plotly-chart title="@(chart.Title)"
                          x-values="@(chart.XValues)"
                          y-values="@(chart.YValues)"></plotly-chart>
        }
    </div>
</div>

