<div class="row">
    <nav class="nav">
        <a class="nav-link"
           asp-action="Index"
           asp-controller="Users">Пользователей</a>
        <a class="nav-link"
           asp-action="Index"
           asp-controller="Roles">Роли</a>
        <a class="nav-link"
           asp-action="Index"
           asp-controller="Articles">Статьи</a>
        <a class="nav-link"
           asp-action="Index"
           asp-controller="Categories">Категории</a>
    </nav>
</div>
<div class="row">
    <div class="col-sm" id="charts-container">
        <!--Include scripts-->
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src="~/js/chart.js"></script>
        
        <button class="btn btn-primary remove-after-click"
                onclick="showStatistics('charts-container')">
            Загрузить статистику
        </button>
    </div>
</div>

