@model User


<form asp-action="Authentication" asp-controller="Home">
    <div>
        <label asp-for="FirstName"  ></label>
        <input type="text" asp-for="FirstName" class="form-control"/>
    </div>
    <div>
        <label asp-for="LastName"  ></label>
        <input type="text" asp-for="LastName" class="form-control"/>
    </div>
    <div>
        <label asp-for="NickName"  ></label>
        <input type="text" asp-for="NickName" class="form-control"/>
    </div>
    <div>
        <label asp-for="Phone"  ></label>
        <input type="text" asp-for="Phone" class="form-control"/>
    </div>
    <div>
        <label asp-for="Email"  ></label>
        <input type="text" asp-for="Email" class="form-control"/>
    </div>
    <div>
        <label asp-for="Password"  ></label>
        <input type="password" asp-for="Password" class="form-control"/>
    </div>
    <div>
        <input type="submit" value="Authentication" class="btn btn-success"/>
    </div>
</form>
