@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <label>Ошибка авторизации</label><br>
    <a class="btn btn-dark" type="button" asp-controller="Home" asp-action="Authorization">Попробовать еще раз</a>
</div>
