<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/templatemo-xtra-blog.css" />
    <script src="~/js/ChartScript.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 sticky-top">
                <div class="navbar-brand">Блог</div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                               asp-controller="Articles" 
                               asp-action="Index">Статьи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"  
                               asp-controller="Articles" 
                               asp-action="Create">Создать статью</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" 
                                   asp-controller="Account" 
                                   asp-action="Logout">Выйти</a>
                            </li>  
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"  
                                   asp-controller="Account" 
                                   asp-action="Login">Войти</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark"  
                               asp-controller="Account" 
                               asp-action="Register">Зарегистрироваться</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-action="Index" 
                                   asp-controller="Admin">Панель администратора</a>
                            </li>
                        }
                    </ul>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Blog - Privacy
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/templatemo-script.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
